<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="index-body">
    <div>
      <h1><%= title %></h1>
      <p>Welcome to <a href="/flights"><%= title %></a></p>
      <p>Add a <a href="/flights/new">Flight</a></p>
    </div>
  </body>
</html>
