<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Movies</title>
</head>
<body>
  <a href="../">Home</a>
  <br><br>
  <table>
    <thead>
      <tr>
        <th>Flight #</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.flightNo %></td>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.departs %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <p>Add a <a href="/flights/new">Flight</a></p>
</body>
</html>