<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongoose Flights</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="flights-new-body">
  <nav>
    <div>
      <a href="/">Home</a>
      <a href="/flights">Go back</a>
    </div>
  </nav>
  <br>
  <div class="out">
    <div class="in">
      <h1>Mongoose Flights</h1>
      <h2>Enter a New Flight</h2>
      <form action="/flights" method="POST">
        <label>Airline:
          <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
          </select>
        </label><br>
        <label>Airport:
          <select name="airport">
            <option value="DEN">DEN</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
        </label><br>
        <label>flightNo:
          <input type="number" name="flightNo">
        </label><br>
        <label>Departs:
          <input type="datetime-local" name="departs" value="<%= defaultDate %>">
        </label><br><br>
        <input type="submit" value="Add Flight">
      </form>
    </div>
  </div>
</body>
</html>